---
slides_folder_name: reveal-test
revealsec_options: {data-auto-animate}
---
<h2 data-id="code-title">Pretty Code</h2>
<pre data-id="code-animation"><code class="hljs" data-trim data-line-numbers>
	import React, { useState } from 'react';

	function Example() {
	  const [count, setCount] = useState(0);

	  return (
	    ...
	  );
	}
</code></pre>
<p>Code syntax highlighting courtesy of <a href="https://highlightjs.org/usage/">highlight.js</a>.</p>
