---
slides_folder_name: reveal-test
revealsec_options: {data-auto-animate, data-auto-animate-easing: "cubic-bezier(0.770, 0.000, 0.175, 1.000)"}
---
<div class="r-stack">
    <div data-id="box1" style="background: cyan; width: 300px; height: 300px; border-radius: 200px;"></div>
    <div data-id="box2" style="background: magenta; width: 200px; height: 200px; border-radius: 200px;"></div>
    <div data-id="box3" style="background: yellow; width: 100px; height: 100px; border-radius: 200px;"></div>
</div>
<h2 style="margin-top: 20px;">Auto-Animate</h2>
