---
slides_folder_name: reveal-test
---
<section data-background="#dddddd">
	<h2>Slide Backgrounds</h2>
	<p>
		Set <code>data-background="#dddddd"</code> on a slide to change the background color. All CSS color formats are supported.
	</p>
	<a href="#" class="navigate-down">
		<img class="r-frame" style="background: rgba(255,255,255,0.1);" width="178" height="238" data-src="https://static.slid.es/reveal/arrow.png" alt="Down arrow">
	</a>
</section>
<section data-background="https://static.slid.es/reveal/image-placeholder.png">
	<h2>Image Backgrounds</h2>
	<pre><code class="hljs html">&lt;section data-background="image.png"&gt;</code></pre>
</section>
<section data-background="https://static.slid.es/reveal/image-placeholder.png" data-background-repeat="repeat" data-background-size="100px">
	<h2>Tiled Backgrounds</h2>
	<pre><code class="hljs html" style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
</section>
<section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4" data-background-color="#000000">
	<div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
		<h2>Video Backgrounds</h2>
		<pre><code class="hljs html" style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
	</div>
</section>
<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
	<h2>... and GIFs!</h2>
</section>
