---
slides_folder_name: reveal-test
revealsec_options: {data-background-iframe: "http://127.0.0.1:4000", data-background-interactive}
---
<div style="position: absolute; width: 40%; right: 0; box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2); background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px; font-size: 20px; text-align: left;">
	<h2>Iframe Backgrounds</h2>
	<p>Since reveal.js runs on the web, you can easily embed other web content. Try interacting with the page in the background.</p>
</div>
