<div class="page__footer-follow">
  {% if site.data.ui-text[site.locale].follow_label %}
    <p class="footer-p">{{ site.data.ui-text[site.locale].follow_label }}</p>
  {% endif %}

  <ul class="social-icons">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer" target="_blank"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true" style="margin-right: 0.25em;"></i>{{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
    
    {% if site.footer-feed %}
        <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">
<!--<a href="/atribuicoes/">Agradecimentos e atribuições</a>. -->
&copy; 2020-{{ site.time | date: '%Y' }} {{ site.name | default: site.title }}, porém com <a href="https://pt.wikipedia.org/wiki/Licen%C3%A7a_livre" rel="nofollow" target="_blank">licença livre</a> (em decisão sobre MIT, CC ou GPL), exceto para os conteúdos não originais dessa página.
{{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://jekyllrb.com" rel="nofollow" target="_blank">Jekyll</a>, <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow" target="_blank">Minimal Mistakes</a> e <a href="https://revealjs.com/" rel="nofollow" target="_blank">reveal.js</a>.</div>
