<meta charset="utf-8">

{% include seo.html %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.layout != 'reveal' %}
<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>
{% endif %}

<!-- For all browsers -->
{% if page.layout != 'reveal' %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
{% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
