.contact-link {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0.25em 0;
}

.social-icons-share {
  padding: 0;
  text-align: center;
  list-style: none;
  li {
    display: inline;
  }
  .btn {
    padding: 0;
    margin: 0.5em 1em;
  }
  .fa-facebook:hover {color: $facebook-color;}
  .fa-linkedin:hover {color: $linkedin-color;}
  .fa-twitter:hover {color: $twitter-color;}
}

.social-icons{ display: inline-block; }

a.btn:hover {
  color: #7de143;
}

.clicable {
  font-size: 0.62em;
  padding-left: 0.38em;
  vertical-align: sub;
}

$checkboxScale: 1.38;
input[type=checkbox] {
  transform: scale($checkboxScale);
  -ms-transform: scale($checkboxScale);
  -webkit-transform: scale($checkboxScale);
  vertical-align: middle;
  margin: 0;
}
.noticias {
  display: inline;
  font-size: $type-size-6;
  line-height: 1.5;
}

button.custom:hover {
  color: #7de143;
//  border-color: #000;
  background-color: rgba(0,0,0,0.5);
}

.page__content {
  h1,h2,h3,h4,h5,h6 {font-variant: small-caps;}
  p {
    font-family: $serif;
    font-size: $type-size-4;
    line-height: 1.3em;
  }
}

.site-title {
	font-weight: normal;
	font-family: $serif;
	font-size: $type-size-45;
}

.site-subtitle {
	font-weight: normal;
	font-family: $sans-serif;
	font-size: $type-size-8;
}

.masthead__menu-item {
    font-variant: small-caps;
    font-weight: 500;
}

.footer-p {
    display: inline-block;
    margin: 0;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
}

.center-image
{
    margin: 0 auto;
    display: block;
}
