@import "minimal-mistakes/variables";

@import "prototipo-ilustrativo/buttons";

$serif: 'Libertinus Serif', Georgia, Times, serif !default;

.mono {font-family: $monospace;}

section {
  font-family: $sans-serif;
}

button {
  transition: color .15s ease;
  font: inherit;
  border: none;
}

.reveal p {
  margin: 0.05em 0em;
}

input[type="checkbox"] {
  transform: scale(2.5);
  margin-right: 2em;
  display: inline-block;
  vertical-align: 0.5em;
}



