//CSS created with https://transfonter.org/

//@font-face {
//    font-family: 'Libertinus Keyboard';
//    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusKeyboard-Regular.woff2') format('woff2');
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
//}

@font-face {
    font-family: 'Libertinus Mono';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Math';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusMath-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Sans';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Sans';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Sans';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Serif';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerif-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Serif';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

//@font-face {
//    font-family: 'Libertinus Serif Initials';
//    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerifInitials-Regular.woff2') format('woff2');
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
//}

//@font-face {
//    font-family: 'Libertinus Serif Display';
//    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerifDisplay-Regular.woff2') format('woff2');
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
//}

@font-face {
    font-family: 'Libertinus Serif';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Serif';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerif-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Serif';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libertinus Serif';
    src: url('/assets/fonts/Libertinus-7.020/static/WOFF2/LibertinusSerif-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

