---
slides_folder_name: prototipo-visual
---
<h1 style="color:#7de143; font-size: 1.6em;">Boas vindas!</h1>

<p>
Esse é o protótipo ilustrativo da interface do PapagaiA.<br>
O PapagaiA ainda está sendo desenvolvido!
</p>

<a href="#selecionar-dado" class="botao" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'selecionar-dado', 'page_path': '/selecionar-dado'})"{% endif %}>Clique aqui para iniciar</a>
