---
slides_folder_name: prototipo-visual
slide-id: selecionar-dado
---
<h2>Qual tipo de dado deseja usar?</h2>

<div>
<a href="#/2" class="botao btn-input" style="background-color: darkred;"  role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'audio', 'page_path': '/audio'})"{% endif %}>Áudio</a>
<a href="#/2/1" class="botao btn-input" style="background-color: darkgreen; margin: 0.2em inherit;"  role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'sintomas', 'page_path': '/sintomas'})"{% endif %}>Sintomas</a>
<a href="#/2/2" class="botao btn-input" style="background-color: darkblue;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'radiografia', 'page_path': '/radiografia'})"{% endif %}>Radiografia</a>
</div>

<a href="#/" class="voltar" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'prototipo-visual', 'page_path': '/prototipo-visual'})"{% endif %}><i class="far fa-arrow-alt-circle-left"></i></a>
