---
slides_folder_name: prototipo-visual
slide-id: dados
---
<section>
    <h2>Por favor, insira o áudio</h2>

    <button class="botao" onclick="alert('Foi selecionado um arquivo de exemplo.'); r.nextFragment();">Selecionar arquivo</button>

    <div class="fragment">
        <p>Áudio selecionado:</p>
        
        <audio ref="audio" controls="" src="/apresentacoes/prototipo-visual-assets/XC573750-Amazona-aestiva-ed.mp3" style="width:50%; border-radius: 2rem; background-color: white; transform: scale(1.5); margin-top: 0.5em;">Desculpe, seu navegador não suporta audio.</audio><br>
        
        <p class="mono">exemplo-dante-ccbyncsa.mp3<a href="https://www.xeno-canto.org/573750" rel="nofollow noopener" target="_blank"><i class="fas fa-link" style="margin: 0em 0.25em;"></i></a></p>

        <a href="#/analise" class="botao" style="margin-bottom: 0.25em;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'analise', 'page_path': '/analise'})"{% endif %}>Enviar para análise</a>
    </div>

    <a href="#/1" class="voltar" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'selecionar-dado', 'page_path': '/selecionar-dado'})"{% endif %}><i class="far fa-arrow-alt-circle-left"></i></a>

</section>



<section>
    <h2>Por favor, marque os sintomas</h2>

    <ul style="list-style-type: none; display: inline-block;">
        <li><input type="checkbox">Perda de penas</li>
        <li><input type="checkbox">Desequilíbrio</li>
        <li><input type="checkbox">Comunicação menor que o normal</li>
        <li><input type="checkbox">Outros</li>
    </ul>

    <a href="#/analise" class="botao" style="margin-bottom: 0.25em;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'analise', 'page_path': '/analise'})"{% endif %}>Enviar para análise</a><br>

    <a href="#/1" class="voltar" role="button"><i class="far fa-arrow-alt-circle-left" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'selecionar-dado', 'page_path': '/selecionar-dado'})"{% endif %}></i></a>

</section>



<section>
    <h2 style="font-size: 1.5em;">Por favor, insira a radiografia</h2>

    <button class="botao" style="margin: 0.25em 0.25em;" onclick="alert('Foi selecionado um arquivo de exemplo.'); r.nextFragment();">Selecionar arquivo</button>

    <div class="fragment">
        <p>Radiografia selecionada: <img src="/apresentacoes/prototipo-visual-assets/radiografia.png" style="vertical-align: middle; margin-left: auto; margin-right: auto; width: 30%; border-radius: 1rem;"></p>

        <p class="mono">exemplo-loro.dicom</p>

        <a href="#/analise" class="botao" style="margin-bottom: 0.25em;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'analise', 'page_path': '/analise'})"{% endif %}>Enviar para análise</a>
    </div>

    <a href="#/1" class="voltar" style="margin-top: -1em;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'selecionar-dado', 'page_path': '/selecionar-dado'})"{% endif %}><i class="far fa-arrow-alt-circle-left"></i></a>

</section>
