---
slides_folder_name: prototipo-visual
slide-id: analise
revealsec_options: {data-autoslide: "5000", data-background: "/apresentacoes/prototipo-visual-assets/loading.gif"}
---
<h2 style="margin-top: 1em; margin-bottom: 5em;">Analisando os dados</h2>

<a href="#resultado" class="fragment fade-up botao" style="background-color: white;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'resultado', 'page_path': '/resultado'})"{% endif %}>Prosseguir</a><br>
