---
slides_folder_name: prototipo-visual
slide-id: resultado
---
<h2>Resultado</h2>

<p>O sistema indica a hipótese dos possíveis diagnósticos por ordem de probabilidade relativa:
<br>
<img data-src="/apresentacoes/prototipo-visual-assets/grafico.png" alt="Condição A = 85% / Condição B = 67% / Condição C = 12%" style="width: 65%; margin-top: -0.25em; margin-bottom: -0.25em;"/>
<br>
</p>

<a href="/assets/files/papagaia-laudo-estatistico.pdf" class="botao btn-input" style="background-color: darkred; margin: 0.25em 1em;" role="button" target="_blank" download>Salvar laudo estatístico</a>  

<div style="clear: both; margin-top: 1em;">
    <a href="#/" class="botao" style="background-color: lightblue; float:left; margin-top: 0em;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'prototipo-visual', 'page_path': '/prototipo-visual'})"{% endif %}>Reiniciar teste</a>
    <a href="#/concluido" class="botao" style="background-color: lightgreen; float: right; margin-top: 0em;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'concluido', 'page_path': '/concluido'})"{% endif %}>Concluir</a>
</div>

