---
slides_folder_name: prototipo-visual
slide-id: concluido
---
<h2 style="color:#7de143;">Concluído!</h2>

<p>Por favor, conte sua experiência com o protótipo no formulário abaixo ou <a href="https://wa.me/5516981561953?%5BTeste%20do%20protótipo%20visual%20PapagaiA%5D%20" class="botao" style="background-color: lightgreen; margin: 0em; padding: 0em 0.25em; border-radius: 0.75rem;" rel="nofollow noopener noreferrer" target="_blank">clique aqui</a> para enviar um áudio por Whatsapp. Obrigado!</p>

<div style="display: block; transform: scale(2); margin-top: 1.5em; margin-bottom: 1.75em; width: 100%">
    <form action="https://formspree.io/f/xqkgyqrl" method="POST" target="_blank" style=""><input type="hidden" name="_language" value="pt-BR"/>
      <textarea name="message" placeholder="Seu email e Mensagem" style=" height: 5em; width: 33%; vertical-align: middle; border-radius: 0.5rem;"></textarea>
      <button type="submit" class="botao" style="margin: 0.5em 0em; font-size: 0.5em; cursor: pointer; border-radius: 0.5rem; vertical-align: middle;">Enviar</button>
    </form>
</div>

<div style="clear: both; margin-top: 1em;">
    <a href="#/" class="botao" style="background-color: lightblue; margin-top: 0em; margin-bottom: 0.25em; float: left;" role="button" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'prototipo-visual', 'page_path': '/prototipo-visual'})"{% endif %}>Reiniciar teste</a>
    <a href="/" class="botao" style="background-color: gold; margin-top: 0em; margin-bottom: 0.25em; float: right;" role="button">Site do PapagaiA</a>
</div>

<a href="#/4" class="voltar" role="button"><i class="far fa-arrow-alt-circle-left" {% if site.analytics.nav_spa_tags %}onclick="gtag('config', '{{ site.analytics.google.tracking_id }}', {'page_title': 'resultado', 'page_path': '/resultado'})"{% endif %}></i></a>
