.botao {
//  border: solid #e8d5b7;
  padding: 0.25em 1em;
  margin: 1em;
  border-radius: 1rem;
  background-color: #e8d5b7;
  color: black !important;
  display: inline-block;
}
.botao:hover {
//  border: solid #e8d5b7 !important;
  background-color: black !important;
  color: #7de143 !important;
}

.btn-input {
  color: #fff4e3 !important;
  font-family: $monospace;
  font-weight: bold;
  display: block;
  margin: 1em 5em;
}

.voltar {
  margin: 0.2em;
//  padding: 0.10em 0.5em 0.20em 0.5em;
//  border-radius: 50%;
  float: left;
  font-size: 1.5em;
  color: #e8d5b7 !important;
  :hover {
    color: #7de143 !important
  }
}

