<!doctype html>
<!-- Created using reveal.js -->
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
	<head>
        {% include head.html %}
        {% include head/custom.html %}
		
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="{{ page.reveal_path }}dist/reset.css">
		<link rel="stylesheet" href="{{ page.reveal_path }}dist/reveal.css">
		<link rel="stylesheet" href="{{ page.reveal_theme_path }}{{ page.reveal_theme }}" id="theme">

{% if page.extra_css %}
    {% for css_file in page.extra_css %}
        <link rel="stylesheet" href="{{ css_file }}">
    {% endfor %}
{% endif %}

        {% if page.highlight_style_sheet %}
            {% assign highlight_style_sheet = page.highlight_style_sheet %}
        {% else %}
            {% capture highlight_style_sheet %}{{ page.reveal_path }}plugin/highlight/monokai.css {% endcapture %}
        {% endif %}
        <link rel="stylesheet" href="{{ highlight_style_sheet }}" id="highlight-theme">
	</head>

	<body>
		<div class="reveal">
            <div class="slides">
                {% assign slides = site.slides | where:"slides_folder_name",page.slides_folder_name %}
				{% for slide in slides %}
				<section
				        {% if slide.slide-id %}id="{{ slide.slide-id }}"{% endif %}
		                {% if slide.path contains 'mdslide' %}
		                    data-markdown
		                    data-separator="^\n---\n$"
		                    data-separator-vertical="^\n--\n$"
		                    data-notes="^Note:"
		                {% endif %}
		                
                        {% if slide.revealsec_options %}
                            {% if slide.revealsec_options.first.first %}
                                {% comment %} Reveal options generated from mapping {% endcomment %}
                                {% for option in slide.revealsec_options %}
                                    {{ option[0] }}{% if option[1] %}="{{ option[1] }}" {% endif %}
                                {% endfor %}
                            {% else %}
                                {% comment %} Reveal options generated from a list of strings {% endcomment %}
                                {{ slide.revealsec_options }}
                            {% endif %}
                        {% endif %}
		                >
		            {% if slide.path contains 'mdslide' %}
					<textarea data-template>
{%
						assign lines = slide.content | newline_to_br | strip_newlines | split: "<br />"
%}{%
						for line in lines
%}{% 
							assign processed_line = line
								| replace:'<fragment/>','<!-- .element: class="fragment" -->'
								| replace:'<background>','<!-- .slide: data-background="'
								| replace:'</background>','" -->'
								| replace:'<backgroundimage>','<!-- .slide: data-background="'
								| replace:'</backgroundimage>','" --> '
								| replace:'<backgroundimageopacity>','<!-- .slide: data-background-opacity="'
								| replace:'</backgroundimageopacity>','" -->'
%}{%
							assign first_char = line
								| slice: 0,1
%}{%
							assign first_two = line
								| slice: 0,2
%}{%
							if first_char == '+'
%}{%
								assign processed_line = processed_line
									| replace_first: '+',''
									| prepend: '+ <!-- .element: class="fragment" -->'
%}{%
							elsif first_two == '\+'
%}{%
								assign processed_line = processed_line
									| replace_first: '\+', '+'
%}{%
							endif
							%}{{ processed_line }}{% comment %}Following line break is important{% endcomment %}
{%
						endfor
%}
					</textarea>
					{% else %}
					    {{ slide.content }}					
	                {% endif %}

				</section>
				{% endfor %}
            </div>
        {% if page.footer %}{% include presentation-footer.html %}{% endif %}
		</div>

		<script src="{{ page.reveal_path }}dist/reveal.js"></script>
		<script src="{{ page.reveal_path }}plugin/markdown/markdown.js"></script>
		<script src="{{ page.reveal_path }}plugin/zoom/zoom.js"></script>
		<script src="{{ page.reveal_path }}plugin/highlight/highlight.js"></script>
		{% if site.reveal_notes_server %}
			<script src="{{ page.reveal_path }}socketio/socket.io.js"></script>
			<!-- The notes server is a stand-alone module and must be separately installed using npm.
			     See https://github.com/reveal/notes-server for more details. -->
			<script src="{{ page.reveal_path }}node_modules/reveal-notes-server/client.js"></script>
		{% else %}
			<script src="{{ page.reveal_path }}plugin/notes/notes.js"></script>
		{% endif %}

		<script>
			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			let r = Reveal();
			r.initialize({
                {% if page.reveal_options %}
                    {% if page.reveal_options.first.first %}
                        // Reveal options generated from mapping
                        {% for option in page.reveal_options %}
                            {{ option[0] }}: {{ option[1] }},
                        {% endfor %}
                    {% else %}
                        // Reveal options generated from a list of strings
                        {{ page.reveal_options | append:',' }}
                    {% endif %}
                {% endif %}

				theme: r.getQueryHash().theme, // available themes are in /css/theme
				transition: '{{ page.reveal_transition }}', // default/cube/page/concave/zoom/linear/fade/none

                plugins: [
                    {% if page.reveal_plugins %}
                        {% if page.reveal_plugins.first.first %}
                            // Reveal plugins generated from mapping
                            {% for plugin in page.reveal_plugins %}
                                {{ plugin }},
                            {% endfor %}
                        {% else %}
                            // Reveal plugins generated from a list of strings
                            {{ page.reveal_plugins | append:',' }}
                        {% endif %}
                    {% endif %}
                ],
			});
		</script>
		
		{% include analytics.html %}
		
	</body>
</html>
